apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: abe-csi-node
  namespace: kube-system
spec:
  selector:
    matchLabels: { app: abe-csi-node }
  template:
    metadata:
      labels: { app: abe-csi-node }
    spec:
      serviceAccountName: abe-csi
      hostPID: true
      hostNetwork: true
      tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: node
        image: briankmatheson/abe-csi-rs:latest
        securityContext:
          privileged: true
        volumeMounts:
        - name: dev
          mountPath: /dev
        - name: sys
          mountPath: /sys
        - name: udev
          mountPath: /run/udev
        - name: scripts
          mountPath: /usr/local/bin
        - name: kubelet-dir
          mountPath: /var/lib/kubelet
        - name: abe-state
          mountPath: /var/lib/abe
        env:
        - name: ABE_STATE_DIR
          value: /var/lib/abe
      volumes:
      - name: dev
        hostPath: { path: /dev, type: Directory }
      - name: sys
        hostPath: { path: /sys, type: Directory }
      - name: udev
        hostPath: { path: /run/udev, type: Directory }
      - name: scripts
        hostPath: { path: /usr/local/bin, type: Directory }
      - name: kubelet-dir
        hostPath: { path: /var/lib/kubelet, type: Directory }
      - name: abe-state
        hostPath: { path: /var/lib/abe, type: DirectoryOrCreate }
