apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: abe-postgres
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:16
  storage:
    size: 10Gi
    storageClass: abe-csi
  monitoring:
    enablePodMonitor: true
  bootstrap:
    initdb:
      database: appdb
      owner: appuser
      secret:
        name: appuser-secret
