apiVersion: v1
kind: Pod
metadata:
  name: postgres-standalone
spec:
  containers:
  - name: postgres
    image: postgres:16
    env:
      - name: POSTGRES_PASSWORD
        value: example
    ports:
      - containerPort: 5432
    volumeMounts:
      - name: data
        mountPath: /var/lib/postgresql/data
  volumes:
  - name: data
    persistentVolumeClaim:
      claimName: postgres-data
